# Dependencies
# This will ignore node_modules in ANY folder (root, client, or Server)
node_modules/
dist/
oh-modules/

# Production
/client/build/
/Server/dist/

# Env files (Very important for security!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store