version: "3.9"

services:

  backend:
    build:
      context: ./backend
    container_name: backend-service
    ports:
      - "5000:5000"
    env_file:
      - .env
    restart: unless-stopped
    depends_on:
      - mongodb
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
    container_name: frontend-service
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - app-network

  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network
    # ⚠️ Do NOT expose port in production

volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge
